.preloadImages {
    position: absolute;
    left: -1000;
    top: -1000;
}

.leafContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.outerPage {
    padding: 20px;
    height: calc(100vh - 117px);
    width: 100vw;
    position: absolute;
    overflow-y: scroll;
    z-index: -1;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        font-size: 32px;
        color: var(--fallCream);
        margin-top: 16px;
    }
}
