.leafContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.outerPage {
    padding: 20px;
    height: calc(100vh - 117px);
    width: 100vw;
    position: absolute;
    overflow-y: scroll;
    z-index: 100;
    top: 0;
    left: 0;

    .invitedMsg {
        font-size: 64px;
        text-align: center;
        color: var(--fallCream);
    }

    .tagline {
        font-size: 36px;
        text-align: center;
        color: var(--fallOrange);
        line-height: 1em;
        margin-top: 64px;
    }

    .details {
        list-style: none;
        color: var(--fallCream);
        margin: 64px auto 0 auto;
        max-width: 400px;
    }
}

.rsvp {
    position: absolute;
    bottom: 0;
    background-color: var(--fallBrown);
    width: 100vw;
    padding: 20px;
    z-index: 101;

    .link {
        display: block;
        font-size: 32px;
        border-radius: 20px;
        background-color: var(--fallRed);
        border: double;
        border-color: var(--fallCream);
        padding: 15px;
        text-align: center;
        border-width: 5px;
        max-width: 400px;
        margin: 0 auto;
    }
}
